$cyan: hsl(185, 75%, 39%);
$dark-blue: hsl(229, 23%, 23%);
$grey-blue: hsl(227, 10%, 46%);
$dark-grey: hsl(0, 0%, 59%);
$font-size: 18px;
$font-family: 'Kumbh Sans', sans-serif;
$font-weight-400: 400;
$font-weight-700: 700;