.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-row-space-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}